{{# each products}}
  <div class="row">
    {{# each this }}
      <div class="card col-sm-6 col-md-4" style="width: 18rem;">
        <img src="{{this.imagePath}}" class="card-img-top image-responsive" alt="...">
        <div class="card-body">
          <h5 class="card-title">{{this.title}}</h5>
          <p class="card-text description">{{this.description}}</p>
          <div>
            <div class="price">
              ${{this.price}}
            </div>
            <a href="/add-to-cart/{{this._id}} " class="btn btn-primary pull-right">Add to shopping card</a>
          </div>
        </div>
      </div>
      {{/each}}
  </div>
  {{/each}}
